<div class="container">
  <div class="wraper">
    <div class="order-view">
      <ul class="view">
        <li class="view-show">
          <mat-icon>event_note</mat-icon> <a href="#">Cleander View</a>
        </li>
        <li class="view-show Detail">
          <mat-icon>event_note</mat-icon> <a href="#">Detail View</a>
        </li>
      </ul>
    </div>

    <div class="Date-range">
      <ul class="date">
        <li class="date-section">
          <mat-icon>event_note</mat-icon> <a href="#">Date Range</a>
        </li>
      </ul>
      <ul class="actual">
        <li class="atual-start">
          <mat-icon>event_note</mat-icon> <a href="#">Actual</a>
        </li>
        <li class="atual-start">
          <mat-icon>event_note</mat-icon> <a href="#">System Forcast</a>
        </li>
        <li class="atual-start">
          <mat-icon>event_note</mat-icon> <a href="#">User Forcast</a>
        </li>

      </ul>
      <ul class="full-screen">
        <li class="full">
          <mat-icon>event_note</mat-icon> <a href="#">Full Screen
          </a>
        </li>
      </ul>
    </div>

    <div class="Scaniore">
      <button class="Scaniore-analysis">
        <mat-icon>event_note</mat-icon> <a href="#">Sceanrio-Analysis</a>

      </button>
    </div>

    <div class="main-table">
        <table>
          <tr>
            <td class="td1">
              <div class="fixed">
                <span class="space">Daily</span>
                <span class="space">Weekly</span>
                <span class="space">Monthly</span>
                <i class="fa fa-user-plus"></i>
                <i class="fa fa-user-plus"></i>
              </div>
            </td>
            <td class="td2">
              <table>
                <tr>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                  <td>
                    01/01/2019
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="td3">
              <span class="space12">OPENING BALANCE</span>
            </td>
            <td class="td3">
              <table>
                <tr>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                  <td>
                    $124561.22
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="td4">
              <span class="space12">CASH IN</span>
            </td>
            <td class="td4">
              <table>
                <tr>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="td5">
              <span class="space">Accounnt Recivable</span>
            </td>
            <td class="td5">
              <table>
                <tr>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                  <td>
                    $123456.22
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="td7">
              <table>
                <tr>
                  <td style="width:50%" class="charts">Chart Of Account</td>
                  <td class="charts">Customer</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td style="width:44%" class="text">
                    1001 Accounts Reciavle
                  </td>
                  <td style="width:50%" class="text">
                    Albert
                  </td>

                </tr>
              </table>
            </td>
            <td class="white">
              <table>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                </tr>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>


                </tr>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>


                </tr>
              </table>
            </td>
          </tr>
         <tr>
          <td style="    padding-right: 28px;" class="machine">
            <span>Beaverage Vending Machine</span>
          </td>
          <td style="border-top: 1px solid grey; background: white;" class="white">
            <table>
              <tr class="Accounts Reciavle">
                <td class="dollar">
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>


              </tr>
              <tr class="Accounts Reciavle">
                <td class="dollar">
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>


              </tr>
              <tr class="Accounts Reciavle">
                <td class="dollar">
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>
                <td>
                  $123456.33
                </td>


              </tr>
            </table>
          </td>
          </tr>



















        </table>
      </div>
      <table>
        <tr>
          <td class="width" style="width: 341px;">

            <ul class="invcoice">
              <li>
                <button type="button" class="btn">Add Overdue invoice</button>
              </li>
              <li>
                <button type="button" class="btn1">Add Overdue invoice</button>
              </li>
            </ul>

          </td>
          <td>
            <ul class="customer-detail1">
              <li class="customer1">
                Customer Name
                <select name="carlist" form="carform" class="slected-field">
                  <option value="volvo"></option>
                  <option value="saab">Albert</option>
                  <option value="opel">Rocky</option>
                  <option value="audi">Albert</option>
                </select>

              </li>
              <li class="customer1">
                Chart of Account
                <select name="carlist" form="carform" class="slected-field">
                  <option value="volvo"></option>
                  <option value="saab">Cpa</option>
                  <option value="opel">Bpa</option>
                  <option value="audi">Cpa</option>
                </select>
              </li>
              <li class="customer1">
                Due Date
                <input _ngcontent-c34="" formcontrolname="DateFrom" placeholder="14/12019" type="date">
              </li>
              <li class="customer1 ammount">
                Ammount
                <input type="text" class="text1">
              </li>
              <li class="customer1 Transaction">
                Repeat Transaction
                <select name="carlist" form="carform" class="slected-field">
                  <option value="volvo">Daily</option>
                  <option value="saab">Week</option>
                  <option value="opel">Month</option>

                </select>
              </li>
              <li class="customer1 till">
                Till Date
                <input type="date">
              </li>


            </ul>
          </td>
        </tr>
      </table>
      <div class="main-table">
          <table>


            <tr>
              <td class="td5">
                <span class="space">Income</span>
              </td>
              <td class="td5">
                <table>
                  <tr>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                    <td>
                      $123456.22
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="td7">
                <table>
                  <tr>
                    <td style="width:50%" class="charts">Chart Of Account</td>
                    <td class="charts">Customer</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td style="width:44%" class="text">
                      1001 Accounts Reciavle
                    </td>
                    <td style="width:50%" class="text">
                      Albert
                    </td>

                  </tr>
                </table>
              </td>
              <td class="white">
                <table>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                  </tr>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>


                  </tr>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>


                  </tr>
                </table>
              </td>
            </tr>
           <tr>
            <td style="    padding-right: 28px;" class="machine">
              <span>Beaverage Vending Machine</span>
            </td>
            <td style="border-top: 1px solid grey; background: white;" class="white">
              <table>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>


                </tr>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>


                </tr>
                <tr class="Accounts Reciavle">
                  <td class="dollar">
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>
                  <td>
                    $123456.33
                  </td>


                </tr>
              </table>
            </td>
            </tr>



















          </table>
        </div>
        <table>
          <tr>
            <td class="width" style="width: 341px;">

              <ul class="invcoice">
                <li>
                  <button type="button" class="btn">Add Overdue invoice</button>
                </li>
                <li>
                  <button type="button" class="btn1">Add Overdue invoice</button>
                </li>
              </ul>

            </td>
            <td>
              <ul class="customer-detail1">
                <li class="customer1">
                  Customer Name
                  <select name="carlist" form="carform" class="slected-field">
                    <option value="volvo"></option>
                    <option value="saab">Albert</option>
                    <option value="opel">Rocky</option>
                    <option value="audi">Albert</option>
                  </select>

                </li>
                <li class="customer1">
                  Chart of Account
                  <select name="carlist" form="carform" class="slected-field">
                    <option value="volvo"></option>
                    <option value="saab">Cpa</option>
                    <option value="opel">Bpa</option>
                    <option value="audi">Cpa</option>
                  </select>
                </li>
                <li class="customer1">
                  Due Date
                  <input _ngcontent-c34="" formcontrolname="DateFrom" placeholder="14/12019" type="date">
                </li>
                <li class="customer1 ammount">
                  Ammount
                  <input type="text" class="text1">
                </li>
                <li class="customer1 Transaction">
                  Repeat Transaction
                  <select name="carlist" form="carform" class="slected-field">
                    <option value="volvo">Daily</option>
                    <option value="saab">Week</option>
                    <option value="opel">Month</option>

                  </select>
                </li>
                <li class="customer1 till">
                  Till Date
                  <input type="date">
                </li>


              </ul>
            </td>
          </tr>
        </table>
        <div class="main-table">
            <table>

              <tr>
                <td class="td3">
                  <span class="space12">OPENING BALANCE</span>
                </td>
                <td class="td3">
                  <table>
                    <tr>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                      <td>
                        $124561.22
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="td4">
                  <span class="space12">CASH OUT</span>
                </td>
                <td class="td4">
                  <table>
                    <tr>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="td5">
                  <span class="space">Accounnt Recivable</span>
                </td>
                <td class="td5">
                  <table>
                    <tr>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                      <td>
                        $123456.22
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="td7">
                  <table>
                    <tr>
                      <td style="width:50%" class="charts">Chart Of Account</td>
                      <td class="charts">Customer</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td style="width:44%" class="text">
                        1001 Accounts Reciavle
                      </td>
                      <td style="width:50%" class="text">
                        Albert
                      </td>

                    </tr>
                  </table>
                </td>
                <td class="white">
                  <table>
                    <tr class="Accounts Reciavle">
                      <td class="dollar">
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                    </tr>
                    <tr class="Accounts Reciavle">
                      <td class="dollar">
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>


                    </tr>
                    <tr class="Accounts Reciavle">
                      <td class="dollar">
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>
                      <td>
                        $123456.33
                      </td>


                    </tr>
                  </table>
                </td>
              </tr>
             <tr>
              <td style="    padding-right: 28px;" class="machine">
                <span>Beaverage Vending Machine</span>
              </td>
              <td style="border-top: 1px solid grey; background: white;" class="white">
                <table>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>


                  </tr>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>


                  </tr>
                  <tr class="Accounts Reciavle">
                    <td class="dollar">
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>
                    <td>
                      $123456.33
                    </td>


                  </tr>
                </table>
              </td>
              </tr>



















            </table>
          </div>
          <table>
            <tr>
              <td class="width" style="width: 341px;">

                <ul class="invcoice">
                  <li>
                    <button type="button" class="btn">Add Overdue invoice</button>
                  </li>
                  <li>
                    <button type="button" class="btn1">Add Overdue invoice</button>
                  </li>
                </ul>

              </td>
              <td>
                <ul class="customer-detail1">
                  <li class="customer1">
                    Customer Name
                    <select name="carlist" form="carform" class="slected-field">
                      <option value="volvo"></option>
                      <option value="saab">Albert</option>
                      <option value="opel">Rocky</option>
                      <option value="audi">Albert</option>
                    </select>

                  </li>
                  <li class="customer1">
                    Chart of Account
                    <select name="carlist" form="carform" class="slected-field">
                      <option value="volvo"></option>
                      <option value="saab">Cpa</option>
                      <option value="opel">Bpa</option>
                      <option value="audi">Cpa</option>
                    </select>
                  </li>
                  <li class="customer1">
                    Due Date
                    <input _ngcontent-c34="" formcontrolname="DateFrom" placeholder="14/12019" type="date">
                  </li>
                  <li class="customer1 ammount">
                    Ammount
                    <input type="text" class="text1">
                  </li>
                  <li class="customer1 Transaction">
                    Repeat Transaction
                    <select name="carlist" form="carform" class="slected-field">
                      <option value="volvo">Daily</option>
                      <option value="saab">Week</option>
                      <option value="opel">Month</option>

                    </select>
                  </li>
                  <li class="customer1 till">
                    Till Date
                    <input type="date">
                  </li>


                </ul>
              </td>
            </tr>
          </table>



    </div>
  </div>
