
<div class="wrapper">
  <div class="card">
    <!-- <img src="assets/img/card-image.jpg" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h2 class="attandance">Attandance all Employee</h2>
      <P class="year">Last year Attandnce</P>
    </div>
    <span class="cal"><h4 >2500</h4>
    </span>
  </div>
  <div class="card">
    <!-- <img src="assets/img/card-image.jpg" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h2 class="attandance">Performance all Employee</h2>
      <P class="year">Last year Performance</P>
    </div>
    <span class="cal"><h4 >A+</h4>
    </span>
  </div>
  <div class="card">
    <!-- <img src="assets/img/card-image.jpg" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h2 class="attandance">Project Progress</h2>
      <P class="year">Last year Progress</P>
    </div>
    <span class="cal"><h4 >B+</h4>
    </span>
  </div>
</div>
 <h3 style="text-align:center;padding: 20px;" >Employee Details</h3>
<div class="wrapper">

  <div class="card1">
    <img src="assets/img/5.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Attandance Graph</b></h4>
      <p></p>
    </div>
  </div>
  <div class="card1">
      <img src="assets/img/1.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Performance Graph</b></h4>
        <p></p>
      </div>
    </div>
    <div class="card1">
        <img src="assets/img/8.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Daily task Graph</b></h4>
          <p></p>
        </div>
      </div>
</div>
<div class="wrapper">

    <div class="card1">
        <img src="assets/img/1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Daily Productivity Graph</b></h4>
          <p></p>
        </div>
      </div>
      <div class="card1">
          <img src="assets/img/5.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Project Graph</b></h4>
            <p></p>
          </div>
        </div>
        <div class="card1">
            <img src="assets/img/8.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Attandance Graph</b></h4>
              <p></p>
            </div>
          </div>
  </div>

