@import "src/variables/variable.scss";
@import "src/variables/color.scss";
.popup-cashflow {
  // width: 962px;
  // height: 400px;
  // background: #FFFFFF 0% 0% no-repeat padding-box;
  // border: 1px solid #707070;
  // border-radius: 12px;
  // opacity: 1;
  // padding: 28px 33px;
  position: relative;
}
  .Overrude-invoive p {
      text-align: center;
      font-size:30px;
      letter-spacing: 0;
      color: #00A3B8;
      opacity: 1;
      font-weight: 700;
      padding-bottom: 46px;

  }
   .tabs .tabs-btn{
      background: #F5FBFC 0% 0% no-repeat padding-box;
      border: 1px solid #D9ECEE;
      border-radius: 30px;
      opacity: 1;
      font-size: 11px;
      padding: 14px 26px;
      color:#7BAAAA;
      outline: none;
      position: relative;

   }

   .overrude-table{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #D2D2D2;
      border-radius: 20px;

      height: 300px;
      margin-top: 16px;
      overflow: auto;
   }
   .overrude-table table{
       width: 100%;
       border-collapse: collapse;
   }
   overrude-table table,th:first-child{

opacity:1;
padding: 13px 59px 13px 12px;
font-size: 12px;
letter-spacing: 0;
color: #005058;
text-align: start;
border-radius: 30px 0px 0px 30px;
}
th:last-child{
  border-radius: 0px 30px 30px 0px;

}


   th{
      background: #DFF6FA 0% 0% no-repeat padding-box;
      color: #005058;
      font-size: 12px;
      text-align: start;

   }
   .table-head{

      border-radius: 30px;
   }
   td{
      text-align: left;
      font-size: 12px;
      letter-spacing: 0;
      color: #00A3B8;
      opacity: 1;
      padding: 8px 0px 8px 4px;
      border-bottom: 1px solid #0051583a;;
   }
   td button{
       border-radius: 20px;
       background: #78A9B1;
       color: #ffff;
       padding: 3px 11px;
       border: none;
       font-size: 11px;
       margin-right: -49px;
   }
   .download-btn{
   background: #25BDD4 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
padding: 12px 36px 12px 0px ;
color: white;
border: none;
text-align: center;
   }
   .download{
       text-align: center;
       margin-top: 17px;
   }

   .download-icon-space{
     padding: 0px 11px 0px 33px;
     font-size: 17px;
   }
   .icon {
    display: block;
    text-align: end;
}
.close{
  border-radius: 30px;
    position: absolute;
    right: -11px;
    top: -10px;
    border: 2px solid #00a3b8;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #25bdd4;
  position: absolute;
  top: 125px;
  left: 30px;
}
.tabs-btn:focus {
  background: #25BDD4!important;
color: white!important;
// width: 0;
// height: 0;
// border-left: 5px solid transparent;
// border-right: 5px solid transparent;
// border-top: 11px solid #25bdd4;
// position: absolute;
// top: 125px;
// left: 30px;
}
.triangle-down::after {
  border-width: 0 13px 13px;
  top: 3px;
  left: -13px;
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color: transparent transparent #fff;
}
