$Hit-Grey:#93aeae;
$Very-Light-Grey:#ccc;
$Submarine:#919c9d;
$Dim-Gray:#656565;
$Charcoal:#4A4949;
$OsloGrey:#848f90;
$Grey:#777777;
$Aluminium:#818588;
$SuvaGrey:#969393;
$Heather:#aebdbe;
$Whisper:#F5EEEE;
$Zircon:#E7ECEC;
$white:#fff;
$Promenade:#fbf8ee;
$White-Smoke:#F1F1F1;
$PattensBlue:#f1fafa;
$Iceberg:#cee4e4;
$Tranquil:#d5e8e8;
$Lavender:#EFF9FB;
$Iron:#CBCED0;
$Zumthor:#c2ced1;
$OysterBay:#dfecef;
$Gainsboro:#dddddd;
$Azure:#f2fcfe;
$red:#ff0000;
$Burnt-Sienna:#e76d59;
$Crusta:#f76c54;
$Cinnabar:#ec593d;
$SafetyOrange:#f6700c;
$Salmon:#F67A65;
$LightCoral:#f47575;
$SunsetOrange:#f55b41;
$Ruby:#E91E63;
$RedOrange:#F44336;
$TonysPink:#e89292;
$Tutu:#faeeec;
$Remy:#f3d8d3;
$Bondi-Blue:#00a3b8;
$SummerSky:#40c4d9;
$Puerto-Rico:#4cabb2;
$Bright-Turquoise:#10CAE2;
$Genoa:#367373;
$Atoll:#2C737C;
$Morning-Glory:#95d0d1;
$Submarine:#819c9c;
$Botticelli:#93AEAE;
$Genoa:#367373;
$FountainBlue:#51a6a6;
$Allports:#1c747b;
$SherpaBlue:#005058;
$Ming:#427676;
$Scooter:#34a3b8;
$Malibu:#52C8DC;
$Seagull:#76c3d2;
$Viking:#54b6c3;
$TurquoiseBlue:#61d8ea;
$CadetBlue:#59a0a0;
$PineGreen:#05707d;
$DarkSlateGrey:#314D52;
$SherpaBlue:#00464e;
$Cyprus:#0e5158;
$SherpaBlue:#00363e;
$Ming:#416b71;
$DarkGreen:#00232b;
$Dark-Goldenrod:#c19e10;
$Dark-Goldenrod:#C19E10;
$Amber:#FFC107;
$NeonCarrot:#ff9e26;
$Black:#000;
$Eclipse:#3c3c3c;
$KellyGreen:#3eb724;
$DeYork:#7bc695;
$MediumAquamarine:#6bca9c;
$SilverTree:#74bd8d;
