$laptopsMin: 1200px;
$laptopsMax: 1399px;
$tabletsLandscapeMin: 980px;
$tabletsLandscapeMax: 1199px;
$tabletsPortraitMin: 768px;
$tabletsPortraitMax: 979px;
$phabletsMax: 767px;
$phabletsMin: 520px;
$mobilesMax: 519px;
$mobilesMin: 320px;


