

<div class="container">
  <div class="wraper  paypie outer-container">


    <!---------------------------------------------------Full-screen-section-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
    <div class="full-screen-clendar-view">
      <div class="cleandar-view">
        <ul class="cleandar-detail-view">
          <li class="view-show-list-style">
            <i class="icon-list"></i> <span>Expand</span>
          </li>
          <li class="view-show-list-style Detail">
           <i class="icon-collapse"></i> <span>Collapse</span>
          </li>
        </ul>
      </div>

      <div class="Date-range">
        <ul class="date">
          <li class="date-section">
            <i class="icon-calender1"></i><span> Date Range</span>
          </li>
        </ul>
        <ul class="actual">
          <li class="atual-start">
            <i class="icon-cash-flow"></i><span>Actual</span>
          </li>
          <li class="atual-start">
            <i class="icon-system-actual"></i><span>System Forcast</span>
          </li>
          <li class="atual-start">
            <i class="icon-user-forecasted"></i><span>User Forcast</span>
          </li>

        </ul>
        <ul class="full-screen">
          <li class="full" (click)="expand('.paypie')">
           <i class="icon-full-screen"></i><span>Full Screen</span>

          </li>
        </ul>
      </div>
      <button class="Scaniore-analysis">
       <i class="icon-bar-line-arrow-graph"></i><span>Sceanrio-Analysis</span>

      </button>
    </div>

    <div class="cashflow-table">
    <perfect-scrollbar class="scroll-container"  [scrollIndicators]="true">
    <div class="collapse expand ">

      <table>
        <!------------------------------------------Seven-dayDate-sectionstart-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr class="daily-week-date">
          <td class="dym-dates left-scroll bg-color Top-scroll-first-tr">
            <div class="Daily-week-month">
              <span class="space-daily" (click)="DWMEvent(0)" [ngClass]="{'active': dayActive}">Daily</span>
              <span class="space-week " (click)="DWMEvent(1)" [ngClass]="{'active': weekActive}">Weekly</span>
              <span class="space-month " (click)="DWMEvent(2)" [ngClass]="{'active': monthActive}">Monthly</span>


            </div>
          </td>
          <td class="date-data Top-scroll-first-tr">
            <div class="top-fixed-date">
              <table>
                <tr>
                  <td class="icon"><i class=" icon-rnd-arrow-filled-left arrow-filled" (click)="DWMPreviousEvent(0)"></i></td>
                  <td *ngFor="let range of dateRange;" class="td-min-width max-font-size-date">
                    {{range}}
                  </td>
                 <td><i  class=" icon-rnd-arrow-filled-right arrow-filled" (click)="DWMNextEvent(0)" ></i></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
       <!---------------------------------------------------Opening balance-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr class="openining balance">
          <td class=" openining-balance  left-scroll top-fixed-second-tr border ">
            <span class="cashin-space-border">OPENING BALANCE</span>
          </td>
          <td class="openining-balance     top-fixed-second-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of openingBalance?.balance" class="td-min-width max-font-size">{{item}}</td>
              </tr>
            </table>
          </td>
        </tr>

        <!---------------------------------------------------------------CASHIN  BLOCK-----------------------------------------------
        -------------------------------------------------------------------------------------------------------------------------------->
        <tr class="cashin">
          <td class="left-scroll top-fixed-third-tr cashin1 border">
            <span class="cashin-space-border border">CASH IN</span>
          </td>
          <td class=" top-fixed-third-tr color">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7"></td>
              </tr>
            </table>
          </td>
        </tr>

         <!---------------------------------------------------Account-receivable-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr>
          <td class="left-scroll border top-fixed-fourth-tr Reciavle">

            <i class="size icon-plus-circle" *ngIf="!accountReceivable"
              (click)="expandCollapse(1)">
              </i>
            <i class=" size icon-circle-minus" *ngIf="accountReceivable"
              (click)="expandCollapse(1)"></i>

            <span class="account-receviavle-space top-fixed-fourth-tr">Accounnt Recivable</span>
          </td>
          <td class="Accounnt top-fixed-fourth-tr">

            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.AccountReceivable?.balance;"class="td-min-width max-font-size">{{item}}
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td class=" left-scroll border top-fixed-fifth-tr">

            <table>
              <tr>
                <td class="charts top-fixed-fifth-tr chart-account-space"> <span class="Accoumt-space top-fixed-fifth-tr">Chart Of
                    Account</span></td>
                <td class="charts top-fixed-fifth-tr"> <span class="customer-sapce top-fixed-fifth-tr">Customer</span></td>
              </tr>
            </table>
          </td>

          <td class=" top-fixed-fifth-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <ng-container *ngIf="accountReceivable" >

          <ng-container *ngFor="let item of CashIn.AccountReceivable.ChartofAccount.subChartOfAccounts;">
            <tr  [@inOutAnimation] class="hover">
              <td class="left-scroll  top-fixed-third-tr  border text coa">{{item.name}}</td>
              <td class="service-income">
                <table>
                  <tr>
                    <td class="icon icon-space"></td>
                    <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of item.balance">{{balance}}</td>
                  </tr>
                </table>
              </td>
            </tr>
              <ng-container *ngFor="let sub of item.sub">
                  <tr  [@inOutAnimation]>


                      <td class="background">
                        <table>
                          <tr  >
                              <td class="left-scroll  top-fixed-third-tr  border text coa1">
                                  <span class="sub-coa">{{sub.name}}</span></td>
                            <td></td>
                          </tr>
                        </table>
                      </td>
                      <td class="service-income coa11">
                        <table>
                          <tr  [@inOutAnimation]>
                              <td class="icon icon-space-sub "></td>
                            <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of sub.balance">{{balance}}</td>
                          </tr>
                          <tr>
                            <td class="icon"></td>

                          </tr>
                        </table>
                      </td>
                  </tr>
                    <ng-container *ngFor="let customerData of sub.customer">
                        <tr [@inOutAnimation] >
                          <td class="background">
                            <table>
                              <tr>
                                <td class="space left-scroll"></td>
                                <!-- <td class="left-scroll customer-names" (click)="activateCustomerTransaction('CashIn','AccountReceivable',item.name,sub.name,customerData.CustomerName)"><span>{{customerData.CustomerName}}</span></td> -->
                                <td class="left-scroll customer-names" (click)="activateCustomerTransaction('CashIn','AccountReceivable',item.name,sub.name,customerData.CustomerName)">
                                    <table>
                                      <tr>
                                        <td><span>{{customerData.CustomerName}}</span></td>
                                      </tr>
                                    </table>
                                  </td>

                              </tr>
                            </table>
                            </td>
                          <td class="customer-trans">
                            <table>
                              <tr>
                                  <td class="icon icon-space"></td>
                                <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of customerData.subTotals">{{balance}}</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr *ngIf="customerData.activateTransactions" [@inOutAnimation]>
                          <td>
                            <table>
                              <tr>
                                <td class="customer"></td>
                                <td class="customer">
                                  <span></span>
                                </td>
                          </tr>
                        </table>
                        </td>
                          <td class="white">
                              <div class="scroll">
                                <table>
                                  <tr class="Accounts Reciavle projection-actual">
                                    <td class="icon1">
                                      <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionActaul">
                                      <td mat-raised-button (click)="customerTransaction()" class="max-font-size-tranaction">
                                      {{item}}

                                       </td>
                                    </ng-container>
                                  </tr>
                                  <tr class="Accounts Reciavle projection-customer">
                                    <td class="icon1">
                                      <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionCustomer">
                                      <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                    </ng-container>
                                  </tr>
                                  <tr class="Accounts Reciavle projetcion-system">
                                    <td class="icon1">
                                      <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionSystem">
                                      <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                    </ng-container>
                                  </tr>
                                </table>
                              </div>
                          </td>
                        </tr>
                    </ng-container>

              </ng-container>


            <tr *ngFor="let customer of item.customer"  [@inOutAnimation]>
              <td class=" left-scroll">
                <table>
                  <tr>
                    <td class="text">
                      <span class="chartName">
                        {{item.name}}
                      </span>
                    </td>
                    <td class="text customerborder">
                      <span class="chartName">
                        {{customer.CustomerName}}
                      </span>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="white">
                <div class="scroll">
                  <table>
                    <tr class="Accounts Reciavle projection-actual">
                      <td class="icon">
                       <i _ngcontent-c18="" class="icon-system-actual length"></i>
                      </td>
                      <ng-container *ngFor="let item of customer.ProjectionActaul;">
                        <!-- {{customer.ProjectionActaul}} -->
                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}

                        </td>

                      </ng-container>
                    </tr>
                    <tr class="Accounts Reciavle projection-customer">
                      <td class="icon">
                        <i _ngcontent-c18="" class="icon-system-actual length"></i>
                      </td>
                      <ng-container *ngFor="let item of customer.ProjectionActaul;">
                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}
                      </ng-container>
                    </tr>
                    <tr class="Accounts Reciavle projetcion-system">
                      <td class="icon">
                       <i _ngcontent-c18="" class="icon-system-actual length"></i>
                      </td>
                      <ng-container *ngFor="let item of customer.ProjectionSystem;">
                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}
                      </ng-container>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td class=" left-scroll border1">
              <table>
                <tr>
                  <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add
                      Overude Invoice</button>
                  <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(1)">Add new
                      transaction</button></td>
                </tr>
              </table>
            </td>

            <td class="add-transaction" *ngIf="addReceivable">
              <table>
                <tr class="form-edit">
                  <td>
                    <label>Customer Name</label>
                      <select class="input-edit" name="carlist" >
                          <option value="volvo">John</option>
                          <option value="saab">Albert</option>
                          <option value="opel">Rocky</option>
                          <option value="audi">Albert</option>
                        </select>
                  </td>
                  <td>
                      <label>Chart of Account</label>
                      <select class="input-edit" name="carlist" >

                          <option value="saab">Cpa</option>
                          <option value="opel">Bpa</option>
                          <option value="audi">Cpa</option>
                        </select>
                  </td>
                  <td>
                      <div class="date-picker">
                          <label id="select-option" class="select-label">Due Date </label>
                          <input class="input-edit calendar" matInput [matDatepicker]="picker1" placeholder="Choose a date">

                        <mat-datepicker #picker1></mat-datepicker>
                      </div>
                  </td>
                  <td><label for="">Ammount</label>
                      <input class="input-edit" formcontrolname="Amount" type="number">
                  </td>
                  <td>
                    <label for=""></label>
                      <select class="input-edit" name="carlist" >
                          <option value="volvo">Daily</option>
                          <option value="saab">Week</option>
                          <option value="opel">Month</option>

                        </select>
                  </td>
                  <td>
                      <div class="date-picker">
                          <label id="select-option" class="select-label">Till Date </label>
                          <input class="input-edit calendar" matInput [matDatepicker]="picker2" placeholder="Choose a date">

                        <mat-datepicker #picker2></mat-datepicker>
                      </div>
                  </td>

                </tr>
              </table>
            </td>
          </tr>

        </ng-container>

        <!---------------------------------------------------Income-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr>
          <td class="left-scroll border top-fixed-fourth-tr Reciavle">
            <i class="size icon-plus-circle" (click)="expandCollapse(2)"
              *ngIf="!income"></i>
              <i class=" size icon-circle-minus" (click)="expandCollapse(2)"
              *ngIf="income"></i>
            <span class="account-receviavle-space top-fixed-fourth-tr income-bottom-border">Income</span>
          </td>
          <td class="Accounnt top-fixed-fourth-tr max-font-size">
            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.Income?.balance" class="max-font-size">{{item}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class=" left-scroll border top-fixed-fifth-tr">

            <table>
              <tr>
                <td style="width:50%" class="charts top-fixed-fifth-tr chart-account-space"> <span class="Accoumt-space top-fixed-fifth-tr">Chart Of
                    Account</span></td>
                <td class="charts top-fixed-fifth-tr"> <span class="customer-sapce top-fixed-fifth-tr">Customer</span></td>
              </tr>
            </table>
          </td>

          <td class=" top-fixed-fifth-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <ng-container *ngIf="income">
            <ng-container *ngFor="let item of CashIn.Income.ChartofAccount.subChartOfAccounts;">
              <!-- {{item.name}} -->
              <tr>
                <td class="left-scroll  top-fixed-third-tr  border text coa">{{item.name}} </td>
                <td class="service-income">
                  <table>
                    <tr>
                      <td class="icon icon-space"></td>
                      <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of item.balance">{{balance}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
                <ng-container *ngFor="let sub of item.sub">
                    <tr>
                        <td class="left-scroll  top-fixed-third-tr  border text coa1">
                          <span class="sub-coa">{{sub.name}}</span></td>
                        <td class="service-income coa1">
                          <table>
                            <tr>
                                <td class="icon icon-space-sub "></td>
                              <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of sub.balance">{{balance}}</td>
                            </tr>
                            <tr>
                              <td class="icon"></td>

                            </tr>
                          </table>
                        </td>
                      </tr>
                      <ng-container *ngFor="let customerData of sub.customer">
                          <tr>
                            <td>
                              <table>
                                <tr>
                                  <td class="space left-scroll"></td>
                                  <td class="left-scroll customer-names" (click)="activateCustomerTransaction('CashIn','AccountReceivable',item.name,sub.name,customerData.CustomerName)">
                                      <table>
                                        <tr>
                                          <td><span>{{customerData.CustomerName}}</span></td>
                                        </tr>
                                      </table>
                                    </td>

                                </tr>
                              </table>
                              </td>
                            <td>
                              <table>
                                <tr>
                                    <td class="icon icon-space"></td>
                                  <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of customerData.subTotals">{{balance}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr *ngIf="sub.activateTransactions">
                            <td>
                              <table>
                                <tr>
                                  <td class="customer"></td>
                                  <td class="customer">
                                    <span></span>
                                  </td>
                            </tr>
                          </table>
                          </td>
                            <td class="white">
                                <div class="scroll">
                                  <table>
                                    <tr class="Accounts Reciavle projection-actual">
                                      <td class="icon1">
                                       <i _ngcontent-c18="" class="icon-system-actual length "></i>
                                      </td>
                                      <ng-container *ngFor="let item of customerData.ProjectionActaul">
                                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                      </ng-container>
                                    </tr>
                                    <tr class="Accounts Reciavle projection-customer">
                                      <td class="icon1">
                                       <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                      </td>
                                      <ng-container *ngFor="let item of customerData.ProjectionCustomer">
                                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                      </ng-container>
                                    </tr>
                                    <tr class="Accounts Reciavle projetcion-system">
                                      <td class="icon1">
                                       <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                      </td>
                                      <ng-container *ngFor="let item of customerData.ProjectionSystem">
                                        <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                      </ng-container>
                                    </tr>
                                  </table>
                                </div>
                            </td>
                          </tr>
                      </ng-container>

                </ng-container>


              <tr *ngFor="let customer of item.customer">
                <td class=" left-scroll">
                  <table>
                    <tr>
                      <td class="text">
                        <span class="chartName">
                          {{item.name}}
                        </span>
                      </td>
                      <td class="text customerborder">
                        <span class="chartName">
                          {{customer.CustomerName}}
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="white">
                  <div class="scroll">
                    <table>
                      <tr class="Accounts Reciavle projection-actual">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <!-- {{customer.ProjectionActaul}} -->
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>

                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projection-customer">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projetcion-system">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionSystem;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr>
                <td class=" left-scroll border1">
                  <table>
                    <tr>
                      <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add
                          Overude Invoice</button>
                      <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(1)">Add new
                          transaction</button></td>
                    </tr>
                  </table>
                </td>

                <td class="add-transaction" *ngIf="addReceivable">
                  <table>
                    <tr class="form-edit">
                      <td>
                        <label>Customer name</label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">John</option>
                              <option value="saab">Albert</option>
                              <option value="opel">Rocky</option>
                              <option value="audi">Albert</option>
                            </select>
                      </td>
                      <td>
                          <label>Chart of Account</label>
                          <select class="input-edit" name="carlist" >

                              <option value="saab">Cpa</option>
                              <option value="opel">Bpa</option>
                              <option value="audi">Cpa</option>
                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Due Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker3" placeholder="Choose a date">

                            <mat-datepicker #picker3></mat-datepicker>
                          </div>
                      </td>
                      <td><label for="">Ammount</label>
                          <input class="input-edit" formcontrolname="Amount" type="number">
                      </td>
                      <td>
                        <label for=""></label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">Daily</option>
                              <option value="saab">Week</option>
                              <option value="opel">Month</option>

                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Till Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker4" placeholder="Choose a date">

                            <mat-datepicker #picker4></mat-datepicker>
                          </div>
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
          </ng-container>

        <!---------------------------------------------------------------CASHOUT  BLOCK------------------------------------------>
        <tr class="cashin">
          <td class="left-scroll  top-fixed-third-tr cashin1">
            <span class="cashin-space-border border">CASH OUT</span>
          </td>
          <td class=" top-fixed-third-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7"></td>
              </tr>
            </table>
          </td>
        </tr>

          <!---------------------------------------------------Account-Payable-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr>
          <td class="left-scroll border top-fixed-fourth-tr Reciavle">
            <i class="size icon-plus-circle size"*ngIf="!accountPayable"
              (click)="expandCollapse(3)"></i>
              <i class="size icon-circle-minus size" *ngIf="accountPayable"
              (click)="expandCollapse(3)"></i>
            <span class="account-receviavle-space top-fixed-fourth-tr account-pay">Accounnt Payable</span>
          </td>
          <td class="Accounnt top-fixed-fourth-tr max-font-size">

            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.AccountReceivable?.balance;" class="max-font-size">{{item}}
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td class=" left-scroll border top-fixed-fifth-tr">

            <table>
              <tr>
                <td style="width:50%" class="charts top-fixed-fifth-tr chart-account-space"> <span class="Accoumt-space top-fixed-fifth-tr">Chart Of
                    Account</span></td>
                <td class="charts top-fixed-fifth-tr"> <span class="customer-sapce top-fixed-fifth-tr">Customer</span></td>
              </tr>
            </table>
          </td>

          <td class=" top-fixed-fifth-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <ng-container *ngIf="accountPayable">
            <ng-container *ngFor="let item of CashOut.AccountPayable.ChartofAccount.subChartOfAccounts;">
              <!-- {{item.name}} -->
              <tr>
                <td class="left-scroll  top-fixed-third-tr  border text coa">{{item.name}} </td>
                <td class="service-income">
                  <table>
                    <tr>
                      <td class="icon icon-space"></td>
                      <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of item.balance">{{balance}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
               <ng-container *ngFor="let sub of item.sub">
                              <tr>
                                  <td class="left-scroll  top-fixed-third-tr  border text coa1">
                                    <span class="sub-coa">{{sub.name}}</span></td>
                                  <td class="service-income coa1">
                                    <table>
                                      <tr>
                                          <td class="icon icon-space-sub "></td>
                                        <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of sub.balance">{{balance}}</td>
                                      </tr>
                                      <tr>
                                        <td class="icon"></td>

                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <ng-container *ngFor="let customerData of sub.customer">
                                    <tr>
                                      <td>
                                        <table>
                                          <tr>
                                            <td class="space left-scroll"></td>
                                            <td class="left-scroll customer-names" (click)="activateCustomerTransaction('CashIn','AccountReceivable',item.name,sub.name,customerData.CustomerName)">
                                                <table>
                                                  <tr>
                                                    <td><span>{{customerData.CustomerName}}</span></td>
                                                  </tr>
                                                </table>
                                              </td>
                                          </tr>
                                        </table>
                                        </td>
                                      <td>
                                        <table>
                                          <tr>
                                              <td class="icon icon-space"></td>
                                            <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of customerData.subTotals">{{balance}}</td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr *ngIf="sub.activateTransactions">
                                      <td>
                                        <table>
                                          <tr>
                                            <td class="customer"></td>
                                            <td class="customer">
                                              <span></span>
                                            </td>
                                      </tr>
                                    </table>
                                    </td>
                                      <td class="white">
                                          <div class="scroll">
                                            <table>
                                              <tr class="Accounts Reciavle projection-actual">
                                                <td class="icon1">
                                                 <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                                </td>
                                                <ng-container *ngFor="let item of customerData.ProjectionActaul">
                                                  <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                                </ng-container>
                                              </tr>
                                              <tr class="Accounts Reciavle projection-customer">
                                                <td class="icon1">
                                                 <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                                </td>
                                                <ng-container *ngFor="let item of customerData.ProjectionCustomer">
                                                  <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                                </ng-container>
                                              </tr>
                                              <tr class="Accounts Reciavle projetcion-system">
                                                <td class="icon1">
                                                 <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                                </td>
                                                <ng-container *ngFor="let item of customerData.ProjectionSystem">
                                                  <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                                </ng-container>
                                              </tr>
                                            </table>
                                          </div>
                                      </td>
                                    </tr>
                                </ng-container>

                </ng-container>


              <tr *ngFor="let customer of item.customer">
                <td class=" left-scroll">
                  <table>
                    <tr>
                      <td class="text">
                        <span class="chartName">
                          {{item.name}}
                        </span>
                      </td>
                      <td class="text customerborder">
                        <span class="chartName">
                          {{customer.CustomerName}}
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="white">
                  <div class="scroll">
                    <table>
                      <tr class="Accounts Reciavle projection-actual">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <!-- {{customer.ProjectionActaul}} -->
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>

                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projection-customer">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projetcion-system">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionSystem;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr>
                <td class=" left-scroll border1">
                  <table>
                    <tr>
                      <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add
                          Overude Invoice</button>
                      <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(1)">Add new
                          transaction</button></td>
                    </tr>
                  </table>
                </td>

                <td class="add-transaction" *ngIf="addReceivable">
                  <table>
                    <tr class="form-edit">
                      <td>
                        <label>Customer name</label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">John</option>
                              <option value="saab">Albert</option>
                              <option value="opel">Rocky</option>
                              <option value="audi">Albert</option>
                            </select>
                      </td>
                      <td>
                          <label>Chart of Account</label>
                          <select class="input-edit" name="carlist" >

                              <option value="saab">Cpa</option>
                              <option value="opel">Bpa</option>
                              <option value="audi">Cpa</option>
                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Due Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker3" placeholder="Choose a date">

                            <mat-datepicker #picker3></mat-datepicker>
                          </div>
                      </td>
                      <td><label for="">Ammount</label>
                          <input class="input-edit" formcontrolname="Amount" type="number">
                      </td>
                      <td>
                        <label for=""></label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">Daily</option>
                              <option value="saab">Week</option>
                              <option value="opel">Month</option>

                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Till Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker4" placeholder="Choose a date">

                            <mat-datepicker #picker4></mat-datepicker>
                          </div>
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
        </ng-container>

        <!---------------------------------------------------Expense-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->


        <tr>
          <td class="left-scroll border top-fixed-fourth-tr Reciavle">
            <i class="size icon-plus-circle size" *ngIf="!expense"
              (click)="expandCollapse(4)"></i>
              <i class="size icon-plus-circle size" *ngIf="expense"
              (click)="expandCollapse(4)"></i>
            <span class="account-receviavle-space top-fixed-fourth-tr  expense-bottom-border">Expense</span>
          </td>
          <td class="Accounnt top-fixed-fourth-tr max-font-size">

            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.Income?.balance;" class="max-font-size">{{item}}
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td class=" left-scroll border top-fixed-fifth-tr">

            <table>
              <tr>
                <td style="width:50%" class="charts top-fixed-fifth-tr chart-account-space"> <span class="Accoumt-space top-fixed-fifth-tr">Chart Of
                    Account</span></td>
                <td class="charts top-fixed-fifth-tr"> <span class="customer-sapce top-fixed-fifth-tr">Customer</span></td>
              </tr>
            </table>
          </td>

          <td class=" top-fixed-fifth-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <ng-container *ngIf="expense">
            <ng-container *ngFor="let item of CashOut.Expense.ChartofAccount.subChartOfAccounts;">
              <tr>
                <td class="left-scroll  top-fixed-third-tr  border text coa">{{item.name}} </td>
                <td class="service-income">
                  <table>
                    <tr>
                      <td class="icon icon-space"></td>
                      <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of item.balance">{{balance}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <ng-container *ngFor="let sub of item.sub">
                  <tr>
                      <td class="left-scroll  top-fixed-third-tr  border text coa1">
                        <span class="sub-coa">{{sub.name}}</span></td>
                      <td class="service-income coa1">
                        <table>
                          <tr>
                              <td class="icon icon-space-sub "></td>
                            <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of sub.balance">{{balance}}</td>
                          </tr>
                          <tr>
                            <td class="icon"></td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                    <ng-container *ngFor="let customerData of sub.customer">
                        <tr>
                          <td>
                            <table>
                              <tr>
                                <td class="space left-scroll"></td>
                                <td class="left-scroll customer-names" (click)="activateCustomerTransaction('CashIn','AccountReceivable',item.name,sub.name,customerData.CustomerName)">
                                  <table>
                                    <tr>
                                      <td><span>{{customerData.CustomerName}}</span></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                            </td>
                          <td>
                            <table>
                              <tr>
                                  <td class="icon icon-space"></td>
                                <td class="charts  top-fixed-third-tr text td-min-width" *ngFor="let balance of customerData.subTotals">{{balance}}</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr *ngIf="sub.activateTransactions">
                          <td>
                            <table>
                              <tr>
                                <td class="customer"></td>
                                <td class="customer">
                                  <span></span>
                                </td>
                          </tr>
                        </table>
                        </td>
                          <td class="white">
                              <div class="scroll">
                                <table>
                                  <tr class="Accounts Reciavle projection-actual">
                                    <td class="icon1">
                                     <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionActaul">
                                      <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                    </ng-container>
                                  </tr>
                                  <tr class="Accounts Reciavle projection-customer">
                                    <td class="icon1">
                                     <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionCustomer">
                                      <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                    </ng-container>
                                  </tr>
                                  <tr class="Accounts Reciavle projetcion-system">
                                    <td class="icon1">
                                     <i _ngcontent-c18="" class="icon-system-actual length"></i>
                                    </td>
                                    <ng-container *ngFor="let item of customerData.ProjectionSystem">
                                      <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                                    </ng-container>
                                  </tr>
                                </table>
                              </div>
                          </td>
                        </tr>
                    </ng-container>

              </ng-container>
              <tr *ngFor="let customer of item.customer">
                <td class=" left-scroll">
                  <table>
                    <tr>
                      <td class="text">
                        <span class="chartName">
                          {{item.name}}
                        </span>
                      </td>
                      <td class="text customerborder">
                        <span class="chartName">
                          {{customer.CustomerName}}
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="white">
                  <div class="scroll">
                    <table>
                      <tr class="Accounts Reciavle projection-actual">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <!-- {{customer.ProjectionActaul}} -->
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>

                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projection-customer">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projetcion-system">
                        <td class="icon">
                         <i _ngcontent-c18="" class="icon-system-actual length"></i>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionSystem;">
                          <td mat-raised-button (click)="openDialog()" class="max-font-size-tranaction">{{item}}</td>
                        </ng-container>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr>
                <td class=" left-scroll border1">
                  <table>
                    <tr>
                      <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add
                          Overude Invoice</button>
                      <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(1)">Add new
                          transaction</button></td>
                    </tr>
                  </table>
                </td>

                <td class="add-transaction" *ngIf="addReceivable">
                  <table>
                    <tr class="form-edit">
                      <td>
                        <label>Customer name</label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">John</option>
                              <option value="saab">Albert</option>
                              <option value="opel">Rocky</option>
                              <option value="audi">Albert</option>
                            </select>
                      </td>
                      <td>
                          <label>Chart of Account</label>
                          <select class="input-edit" name="carlist" >

                              <option value="saab">Cpa</option>
                              <option value="opel">Bpa</option>
                              <option value="audi">Cpa</option>
                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Due Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker3" placeholder="Choose a date">

                            <mat-datepicker #picker3></mat-datepicker>
                          </div>
                      </td>
                      <td><label for="">Ammount</label>
                          <input class="input-edit" formcontrolname="Amount" type="number">
                      </td>
                      <td>
                        <label for=""></label>
                          <select class="input-edit" name="carlist" >
                              <option value="volvo">Daily</option>
                              <option value="saab">Week</option>
                              <option value="opel">Month</option>

                            </select>
                      </td>
                      <td>
                          <div class="date-picker">
                              <label id="select-option" class="select-label">Till Date: </label>
                              <input class="input-edit calendar" matInput [matDatepicker]="picker4" placeholder="Choose a date">

                            <mat-datepicker #picker4></mat-datepicker>
                          </div>
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
        </ng-container>
        <!---------------------------------------------------Closing Balance-section start-----------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------->
        <tr class="  closing balance">
          <td class=" openining-balance  left-scroll top-fixed-second-tr border ">
            <span class="cashin-space-border">CLOSING BALANCE</span>
          </td>
          <td class="openining-balance     top-fixed-second-tr">
            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of openingBalance?.balance" class="max-font-size">{{item}}</td>
              </tr>
            </table>
          </td>
        </tr>

      </table>

    </div>
  </perfect-scrollbar>
  </div>
  </div>
  <!-- <div class="strip">
      <div class="last-download">
        <p>Last Download date</p>
      </div>
    </div> -->
</div>



<!---------------------------------------------------------------------Strip--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


