<div class="container">
  <div class="wraper  paypie outer-container">
    <div class="All-detial">
      <div class="order-view">
        <ul class="view">
          <li class="view-show">
            <mat-icon>event_note</mat-icon> <a href="#">Cleander View</a>
          </li>
          <li class="view-show Detail">
            <mat-icon>event_note</mat-icon> <a href="#">Detail View</a>
          </li>
        </ul>
      </div>

      <div class="Date-range">
        <ul class="date">
          <li class="date-section">
            <mat-icon>event_note</mat-icon> <a href="#">Date Range</a>
          </li>
        </ul>
        <ul class="actual">
          <li class="atual-start">
            <mat-icon>event_note</mat-icon> <a href="#">Actual</a>
          </li>
          <li class="atual-start">
            <mat-icon>event_note</mat-icon> <a href="#">System Forcast</a>
          </li>
          <li class="atual-start">
            <mat-icon>event_note</mat-icon> <a href="#">User Forcast</a>
          </li>

        </ul>
        <ul class="full-screen">
          <li class="full" (click)="expand('.paypie')">
            <mat-icon>event_note</mat-icon>Full Screen

          </li>
        </ul>
      </div>
      <button class="Scaniore-analysis">
        <mat-icon>event_note</mat-icon> <a href="#">Sceanrio-Analysis</a>

      </button>
    </div>
    <div class="main-table small expand ">
      <table>
        <tr class="dates">
          <td class="td1 fix  background-color horizenal">
            <div class="fixed">
              <span class="space " (click)="DWMEvent(0)" [ngClass]="{'active': dayActive}">Daily</span>
              <span class="space " (click)="DWMEvent(1)" [ngClass]="{'active': weekActive}" >Weekly</span>
              <span class="space " (click)="DWMEvent(2)" [ngClass]="{'active': monthActive}">Monthly</span>
              <mat-icon class="arrow" (click)="DWMPreviousEvent(0)">arrow_back_ios</mat-icon>
              <mat-icon (click)="DWMNextEvent(0)">arrow_forward_ios</mat-icon>
            </div>
          </td>
          <td class="td2 horizenal">
            <div class="scroll1">
              <table>
                <tr>
                  <td class="icon"></td>
                  <td *ngFor="let range of dateRange;">
                   {{range}}
                  </td>

                </tr>
              </table>
            </div>
          </td>
        </tr>
  <!---------------------------------------------------------------Opeinig balance  BLOCK----------------------------------->
        <tr class="  openining balance">
          <td class=" openining-balance  fix horizenal1 border ">
            <span class="cashin-space">OPENING BALANCE</span>
          </td>
          <td class="openining-balance     horizenal1">
            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of openingBalance?.balance"  >{{item}}</td>
              </tr>
            </table>
          </td>
        </tr>

        <!---------------------------------------------------------------CASHIN  BLOCK----------------------------------->
        <tr class="cashin">
          <td class="fix horizenal2 cashin1 border" >
            <span class="cashin-space border">CASH IN</span>
          </td>
          <td class="horizenal2">
            <table>
              <tr>
                <td class="icon"></td>
              <td colspan="7"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="fix border horizenal3 Reciavle">

              <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color size" *ngIf="!accountReceivable" (click) = "expandCollapse(1)">add_circle</mat-icon>
             <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color size" *ngIf="accountReceivable" (click) = "expandCollapse(1)">remove_circle</mat-icon>

            <span class="account-receviavle-space horizenal3">Accounnt Recivable</span>
          </td>
          <td class="Accounnt horizenal3">

            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.AccountReceivable?.balance;" >{{item}}
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class=" fix border horizenal4">

            <table>
              <tr>
                <td style="width:50%" class="charts horizenal4"> <span class="Accoumt-space horizenal4">Chart Of
                    Account</span></td>
                <td class="charts horizenal4"> <span class="customer-sapce horizenal4">Customer</span></td>
              </tr>
            </table>
          </td>

          <td class=" horizenal4">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <ng-container *ngIf="accountReceivable">
        <ng-container *ngFor="let item of CashIn.AccountReceivable.ChartofAccount;">
            <tr *ngFor="let customer of item.customer;">
                <td class=" fix">
                  <table>
                    <tr>
                      <td class="text">
                        <span class="chartName">
                        {{item.name}}
                      </span>
                      </td>
                      <td class="text customerborder">
                          <span class="chartName">
                        {{customer.CustomerName}}
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="white">
                  <div class="scroll">
                    <table>
                      <tr class="Accounts Reciavle projection-actual">
                        <td class="icon" >
                          <mat-icon class="icons">account_circle</mat-icon>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
<!-- {{customer.ProjectionActaul}} -->
                            <td mat-raised-button (click)="openDialog()">{{item}}</td>

                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projection-customer">
                        <td class="icon">
                          <mat-icon class="icons">account_circle</mat-icon>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionActaul;">
                            <td mat-raised-button (click)="openDialog()">{{item}}</td>
                        </ng-container>
                      </tr>
                      <tr class="Accounts Reciavle projetcion-system">
                        <td class="icon">
                          <mat-icon class="icons">account_circle</mat-icon>
                        </td>
                        <ng-container *ngFor="let item of customer.ProjectionSystem;">
                            <td mat-raised-button (click)="openDialog()">{{item}}</td>
                        </ng-container>
                      </tr>
                    </table>
                  </div>
                </td>
            </tr>
          </ng-container>
          <tr>
            <td class=" fix border1">
              <table>
                <tr>
                  <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add Overude Invoice</button>
                  <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(1)">Add new transaction</button></td>
                </tr>
              </table>
            </td>

            <td class="" *ngIf="addReceivable">
              <table>
                <tr>
                    <ul class="customer-detail1">
                        <li class="customer1">
                          Customer Name
                          <select name="carlist"  class="slected-field">
                            <option value="volvo">John</option>
                            <option value="saab">Albert</option>
                            <option value="opel">Rocky</option>
                            <option value="audi">Albert</option>
                          </select>

                        </li>
                        <li class="customer1">
                          Chart of Account
                          <select name="carlist"  class="slected-field">

                            <option value="saab">Cpa</option>
                            <option value="opel">Bpa</option>
                            <option value="audi">Cpa</option>
                          </select>
                        </li>
                        <li class="customer1">
                          Due Date
                          <mat-form-field>
                              <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </li>
                        <li class="customer1 ammount">
                          Ammount
                          <input type="text" class="text1">
                        </li>
                        <li class="customer1 Transaction">
                          Repeat Transaction
                          <select name="carlist"  class="slected-field">
                            <option value="volvo">Daily</option>
                            <option value="saab">Week</option>
                            <option value="opel">Month</option>

                          </select>
                        </li>
                        <li class="customer1 till">
                          Till Date
                          <input type="date">
                        </li>


                      </ul>
                </tr>
              </table>
            </td>
          </tr>
        </ng-container>

        <!---------------------------------------------------------------Income  BLOCK------------------------------------------>
            <tr>
            <td class="fix border horizenal3 Reciavle">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color size" (click) ="expandCollapse(2)" *ngIf="!income">add_circle</mat-icon>
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color size" (click) ="expandCollapse(2)" *ngIf="income">remove_circle</mat-icon>
            <span class="account-receviavle-space horizenal3 income-bottom-border">Income</span>
            </td>
            <td class="Accounnt horizenal3">

            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of CashIn?.Income?.balance;">{{item}}
                </td>
              </tr>
            </table>

            </td>
            </tr>
             <tr>
            <td class=" fix border horizenal4">

            <table>
              <tr>
                <td style="width:50%" class="charts horizenal4"> <span class="Accoumt-space horizenal4">Chart Of
                    Account</span></td>
                <td class="charts horizenal4"> <span class="customer-sapce horizenal4">Customer</span></td>
              </tr>
            </table>
            </td>

            <td class=" horizenal4">
            <table>
              <tr>
                <td class="icon"></td>
                <td colspan="7">
                </td>
              </tr>
            </table>
            </td>
            </tr>
        <ng-container *ngIf="income">
        <ng-container *ngFor="let item of CashIn.Income.ChartofAccount;">
        <tr *ngFor="let customer of item.customer;">
            <td class=" fix">
              <table>
                <tr>
                  <td class="text">
                    {{item.name}}
                  </td>
                  <td class="text ">
                    {{customer.CustomerName}}
                  </td>
                </tr>
              </table>
            </td>
            <td class="white">
              <div class="scroll">
                <table>
                  <tr class="Accounts Reciavle projection-actual">
                    <td class="icon" >
                      <mat-icon class="icons">account_circle</mat-icon>
                    </td>
                    <ng-container *ngFor="let item of customer.ProjectionActaul;">
                        <td>{{item}}</td>
                    </ng-container>
                  </tr>
                  <tr class="Accounts Reciavle projection-customer">
                    <td class="icon">
                      <mat-icon class="icons">account_circle</mat-icon>
                    </td>
                    <ng-container *ngFor="let item of customer.ProjectionActaul;">
                        <td>{{item}}</td>
                    </ng-container>
                  </tr>
                  <tr class="Accounts Reciavle projetcion-system">
                    <td class="icon">
                      <mat-icon class="icons">account_circle</mat-icon>
                    </td>
                    <ng-container *ngFor="let item of customer.ProjectionSystem;">
                        <td>{{item}}</td>
                    </ng-container>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>

        <tr >
        <td class=" fix border1">

          <table>
            <tr>
              <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add Overude Invoice</button>
              <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(2)">Add new transaction</button></td>
            </tr>
          </table>
        </td>

        <td class="" *ngIf="addIncome">
          <table>
            <tr>
                <ul class="customer-detail1">
                    <li class="customer1">
                      Customer Name
                      <select name="carlist"  class="slected-field">
                        <option value="volvo">John</option>
                        <option value="saab">Albert</option>
                        <option value="opel">Rocky</option>
                        <option value="audi">Albert</option>
                      </select>

                    </li>
                    <li class="customer1">
                      Chart of Account
                      <select name="carlist"  class="slected-field">
                        <option value="volvo">John</option>
                        <option value="saab">Cpa</option>
                        <option value="opel">Bpa</option>
                        <option value="audi">Cpa</option>
                      </select>
                    </li>
                    <li class="customer1">
                      Due Date
                      <mat-form-field>
                          <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </li>
                    <li class="customer1 ammount">
                      Ammount
                      <input type="text" class="text1">
                    </li>
                    <li class="customer1 Transaction">
                      Repeat Transaction
                      <select name="carlist"  class="slected-field">
                        <option value="volvo">Daily</option>
                        <option value="saab">Week</option>
                        <option value="opel">Month</option>

                      </select>
                    </li>
                    <li class="customer1 till">
                      Till Date
                      <input type="date">
                    </li>


                  </ul>
            </tr>
          </table>
        </td>
        </tr>
        </ng-container>

        <!---------------------------------------------------------------CASHOUT  BLOCK------------------------------------------>
        <tr class="cashin">
            <td class="fix horizenal2 cashin1">
              <span class="cashin-space border">CASH OUT</span>
            </td>
            <td class="horizenal2">
              <table>
                <tr>
                  <td class="icon"></td>
                <td colspan="7"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="fix border horizenal3 Reciavle">
              <mat-icon *ngIf="!accountPayable" class="mat-icon notranslate material-icons mat-icon-no-color size" (click)="expandCollapse(3)">add_circle</mat-icon>
              <mat-icon  *ngIf="accountPayable" class="mat-icon notranslate material-icons mat-icon-no-color size"  (click)="expandCollapse(3)">remove_circle</mat-icon>
              <span class="account-receviavle-space horizenal3">Accounnt Payable</span>
            </td>
            <td class="Accounnt horizenal3">

              <table>
                <tr>
                  <td class="icon"></td>
                  <td *ngFor="let item of CashIn?.AccountReceivable?.balance;">{{item}}
                  </td>
                </tr>
              </table>

            </td>
          </tr>
          <tr>
            <td class=" fix border horizenal4">

              <table>
                <tr>
                  <td style="width:50%" class="charts horizenal4"> <span class="Accoumt-space horizenal4">Chart Of
                      Account</span></td>
                  <td class="charts horizenal4"> <span class="customer-sapce horizenal4">Customer</span></td>
                </tr>
              </table>
            </td>

            <td class=" horizenal4">
              <table>
                <tr>
                  <td class="icon"></td>
                  <td colspan="7">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <ng-container *ngIf="accountPayable">
                <ng-container *ngFor="let item of CashIn.AccountReceivable.ChartofAccount;">
                    <tr *ngFor="let customer of item.customer;">
                        <td class=" fix">
                          <table>
                            <tr>
                              <td class="text">
                                {{item.name}}
                              </td>
                              <td class="text ">
                                {{customer.CustomerName}}
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="white">
                          <div class="scroll">
                            <table>
                              <tr class="Accounts Reciavle projection-actual">
                                <td class="icon" >
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionActaul;">
                                    <td>{{item}}</td>
                                </ng-container>
                              </tr>
                              <tr class="Accounts Reciavle projection-customer">
                                <td class="icon">
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionActaul;">
                                    <td>{{item}}</td>
                                </ng-container>
                              </tr>
                              <tr class="Accounts Reciavle projetcion-system">
                                <td class="icon">
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionSystem;">
                                    <td>{{item}}</td>
                                </ng-container>
                              </tr>
                            </table>
                          </div>
                        </td>
                      </tr>
                </ng-container>
                  <tr >
                    <td class=" fix border1">

                      <table>
                        <tr>
                          <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add Overude Bills</button>
                          <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(3)">Add new transaction</button></td>
                        </tr>
                      </table>
                    </td>

                    <td class="" *ngIf="addPayable">
                      <table>
                        <tr>
                            <ul class="customer-detail1">
                                <li class="customer1">
                                  Customer Name
                                  <select name="carlist"  class="slected-field">
                                    <option value="volvo">John</option>
                                    <option value="saab">Albert</option>
                                    <option value="opel">Rocky</option>
                                    <option value="audi">Albert</option>
                                  </select>

                                </li>
                                <li class="customer1">
                                  Chart of Account
                                  <select name="carlist"  class="slected-field">
                                    <option value="volvo">John</option>
                                    <option value="saab">Cpa</option>
                                    <option value="opel">Bpa</option>
                                    <option value="audi">Cpa</option>
                                  </select>
                                </li>
                                <li class="customer1">
                                  Due Date
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="picker3" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                      <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </li>
                                <li class="customer1 ammount">
                                  Ammount
                                  <input type="text" class="text1">
                                </li>
                                <li class="customer1 Transaction">
                                  Repeat Transaction
                                  <select name="carlist"  class="slected-field">
                                    <option value="volvo">Daily</option>
                                    <option value="saab">Week</option>
                                    <option value="opel">Month</option>

                                  </select>
                                </li>
                                <li class="customer1 till">
                                  Till Date
                                  <input type="date">
                                </li>


                              </ul>
                        </tr>
                      </table>
                    </td>
                  </tr>
          </ng-container>


          <!---------------------------------------------------------------Expense  BLOCK------------------------------------------>


          <tr>
              <td class="fix border horizenal3 Reciavle">
                  <mat-icon *ngIf="!expense"  class="mat-icon notranslate material-icons mat-icon-no-color size" (click) ="expandCollapse(4)">add_circle</mat-icon>
                  <mat-icon *ngIf="expense"  class="mat-icon notranslate material-icons mat-icon-no-color size" (click) ="expandCollapse(4)">remove_circle</mat-icon>
                  <span class="account-receviavle-space horizenal3 income-bottom-border">Expense</span>
              </td>
              <td class="Accounnt horizenal3">

                <table>
                  <tr>
                    <td class="icon"></td>
                    <td *ngFor="let item of CashIn?.Income?.balance;">{{item}}
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
            <tr>
              <td class=" fix border horizenal4">

                <table>
                  <tr>
                    <td style="width:50%" class="charts horizenal4"> <span class="Accoumt-space horizenal4">Chart Of
                        Account</span></td>
                    <td class="charts horizenal4"> <span class="customer-sapce horizenal4">Customer</span></td>
                  </tr>
                </table>
              </td>

              <td class=" horizenal4">
                <table>
                  <tr>
                    <td class="icon"></td>
                    <td colspan="7">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <ng-container *ngIf="expense">
                <ng-container *ngFor="let item of CashIn.Income.ChartofAccount;">
                    <tr *ngFor="let customer of item.customer;">
                        <td class=" fix">
                          <table>
                            <tr>
                              <td class="text">
                                {{item.name}}
                              </td>
                              <td class="text ">
                                {{customer.CustomerName}}
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="white">
                          <div class="scroll">
                            <table>
                              <tr class="Accounts Reciavle projection-actual">
                                <td class="icon" >
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionActaul;">
                                    <td>{{item}}</td>
                                </ng-container>
                              </tr>
                              <tr class="Accounts Reciavle projection-customer">
                                <td class="icon">
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionActaul;">
                                    <td>{{item}}</td>
                                </ng-container>
                              </tr>
                              <tr class="Accounts Reciavle projetcion-system">
                                <td class="icon">
                                  <mat-icon class="icons">account_circle</mat-icon>
                                </td>
                                <ng-container *ngFor="let item of customer.ProjectionSystem;">
                                  <td>{{item}}</td>
                                </ng-container>
                              </tr>
                            </table>
                          </div>
                        </td>
                      </tr>
                </ng-container>
                <tr >
                    <td class=" fix border1">

                      <table>
                        <tr>
                          <td style="width:50%" class="charts1"> <button type="button" class="btn" (click)="openDialog()">Add Overude Bills</button>
                          <td class="charts1 "> <button type="button" class="btn1" (click)="AddTransaction(4)">Add new transaction</button></td>
                        </tr>
                      </table>
                    </td>

                    <td class="" *ngIf="addExpense">
                      <table>
                        <tr>
                            <ul class="customer-detail1">
                                <li class="customer1">
                                  Customer Name
                                  <select name="carlist"  class="slected-field">
                                    <option value="volvo">John</option>
                                    <option value="saab">Albert</option>
                                    <option value="opel">Rocky</option>
                                    <option value="audi">Albert</option>
                                  </select>

                                </li>
                                <li class="customer1">
                                  Chart of Account
                                  <select name="carlist"  class="slected-field">

                                    <option value="saab">Cpa</option>
                                    <option value="opel">Bpa</option>
                                    <option value="audi">Cpa</option>
                                  </select>
                                </li>
                                <li class="customer1">
                                  Due Date
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="picker4" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                      <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                </li>
                                <li class="customer1 ammount">
                                  Ammount
                                  <input type="text" class="text1">
                                </li>
                                <li class="customer1 Transaction">
                                  Repeat Transaction
                                  <select name="carlist"  class="slected-field">
                                    <option value="volvo">Daily</option>
                                    <option value="saab">Week</option>
                                    <option value="opel">Month</option>

                                  </select>
                                </li>
                                <li class="customer1 till">
                                  Till Date
                                  <input type="date">
                                </li>


                              </ul>
                        </tr>
                      </table>
                    </td>
                </tr>
             </ng-container>
<!-----------------------------------------------------------Clsoing Balance------------------------------------------------------------>
        <tr class="  closing balance">
          <td class=" openining-balance  fix horizenal1 border ">
            <span class="cashin-space">CLOSING BALANCE</span>
          </td>
          <td class="openining-balance     horizenal1">
            <table>
              <tr>
                <td class="icon"></td>
                <td *ngFor="let item of openingBalance?.balance">{{item}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
