<app-header></app-header>
<div class="main">
<div class="conatiner">
  <div class="Wrapper">
      <div class="signuppage">
    <h2 style="color:red"> Please Signup or Login</h2>
    <form class="example-form">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td class="block">
            <mat-form-field class="example-full-width">
        <tr>
          <input matInput placeholder="Email">
          </mat-form-field>
          </td>
          <td class="block">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button type="button" class="Login" [routerLink]="['/master/dashboard']"> <a [routerLink]="['/master/dashboard']" class="login-link">Login</a></button>
      <a [routerLink]="['/register/']" class="login-link">Cancel</a>
    </form>

  </div>
</div>
</div>
