.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}
.mat-toolbar.mat-primary {
  background: #dd4814 !important;
  color: #fff;
}
h1.example-app-name {
  margin-left: 8px;
  float: right;
  width: 100%;
}
a.links {
  text-align: end;
}
.example-sidenav-container {
  flex: 1;
}
.example-is-mobile .example-sidenav-container {

  flex: 1 0 auto;
}
mat-icon.icnon1.mat-icon.notranslate.material-icons.mat-icon-no-color {
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  padding: 6px;
  background: #f2754a;
  margin-left: 10px;
}
ul.Navbar {
  font-size: 16px;
}

ul.hideshow.ng-star-inserted {
  background: #f2754a;
  font-size: 13px;
}

button.btn {
  background-color: #dd4814;
  padding: 10px 20px;
  color: white;
  float: right;
  border: none;
  margin: 5px;
  border-radius: 3px;
  outline: none;
}
.mat-icon[_ngcontent-foh-c2] {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 18px;
  width: 18px;
}
.btn:hover {
  background: #60e5ff;
}
button.icon {
  border: none;
  background: #0088a3;
  color: white;
}

mat-sidenav {
  width: 200px;
  background-color: #dd4814;
  color: white;
}
.Navbar1 {
  display: none;
}
.navbar:hover+.Navbar1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
.hide {
  text-align: center;
  font-size: 12px;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 18px;
  width: 18px;
  text-align: center;
}
mat-icon.icnon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  font-size: 16px;
  background: #f8855d;
  border-radius: 50%;
  padding: 6px;
  /* margin: 0 auto; */
  /* margin-top: 10px; */
  margin-right: 6px;
  text-align: center;
}
a::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}
a:hover {
  border-bottom: 0px;
  color: #fff;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav li {
  float: none;
  width: 100%;
}
nav li a {
  display: block;
  width: 100%;
  padding: 12px 18px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.hide {
  background: #fe875d;
}

nav li a:hover {
  border-bottom: 0px;
  color: #fff;
}
nav li a {
  border-left: 10px solid #b33000;
}
nav li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}
.mat-drawer {
  position: relative;
  z-index: 4;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  transform: translate3d(-100%, 0, 0);
}

nav li a:hover:after {
  width: 100%;
}
nav li a:after {
  background: #b33000;
}

