table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(255, 123, 123);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.example-element-diagram {


  margin: 8px 0;
  height: 100%;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.container{
  width: 100%;
}
.row{
  width: 100%;

  margin: 0 auto;
}
table th,td{
  text-align: center;
}
.example-card[_ngcontent-lwy-c9] {
  max-width: 255px;
  width: 300p;
  min-width: 218px;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: -3px 2px 7px 2px rgba(0,0,0,.2), 2px 0px 7px 2px rgba(0,0,0,.14), 2px 0px 3px 0 rgba(0,0,0,.12);
  padding: 24px 98px;
}

