<div class="container">
  <div class="row">
      <div class="outer-container paypie">
        <div class=" small expand">
          <mat-card class="example-card ">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Paypie</mat-card-title>
              <mat-card-subtitle>Paypie Detail</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/paypie.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
               
            </mat-card-actions>
          </mat-card>
       </div>
      </div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title>Single ledger</mat-card-title>
        <mat-card-subtitle>Paypie Detail</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/single.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button ><h4>Expand</h4></button>

      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Slickpie</mat-card-title>
        <mat-card-subtitle>Paypie Detail</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/slickpie.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><h4>Expand</h4></button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
